- var orderCreateContainerId = "id-order-create-container"
- var orderCreateComponentsId = "id-order-create-container-components"
- var orderCreateDetailId = "id-order-create-container-detail"
- var orderCreateToolbarId = "id-order-create-toolbar"
- var orderCreateSplitId = "id-order-create-split"
- var orderCreateComponentDragTemplateId = "id-order-create-component-drag-template"
- var orderCreateConfirmAddComponentId = "id-order-create-component-quantity-template"
style.
  ##{orderCreateToolbarId} {
    text-align: right;
  }

  ##{orderCreateToolbarId} > button {
    margin: 4px;
  }

script(id=orderCreateComponentDragTemplateId type="text/html")
  div.k-state-selected.ts-create-order-drag-component-hint 
    label #: code #
    label #: kendo.toString(price, 'n2') #

div(id=orderCreateConfirmAddComponentId)
  label Quantity
  input(name="quantity"
    type="number" 
    data-bind="value: quantity"
    data-role="numerictextbox"
    data-min="1"
    data-decimals="0"
    data-format="{0:0}")

div.ts-section-container(id=orderCreateContainerId)
  div
    h1(style="margin: 0; display: inline-block;") CREATE ORDER
  div.ts-inner-container.ts-lv1.ts-create-order-split(id=orderCreateSplitId)
    // Nest the elements inside other divs because Kendo Splitter stuffs them with classes and whatnot.
    div
      div(id=orderCreateComponentsId)
    div
      div(id=orderCreateDetailId)
  div.k-content.ts-inner-container.ts-lv1(id=orderCreateToolbarId)
  script(src=html.view('home/order/create.js'))
