- var ordersContainerId = "id-main-order-container"
- var ordersId = "id-main-order-container-orders"
//- include ./order/detail
div.ts-section(id=ordersContainerId)
  h1.ts-section-header ORDERS
  div.ts-section-container.ts-lv1
    div(id=ordersId)
  script(src=html.view('home/order.js'))
  script.
    App.views.order.render({
      containerId: "#{ordersContainerId}",
      ordersId: "#{ordersId}",
      orderCreateContainerId: "#{orderCreateContainerId}"
    })
    //# sourceURL=/app/views/order.invoke.js
